*
{
	margin: 0px;
	padding: 0px
}

body
{
	color: rgb(85, 76, 76);
	background-color: rgb(166, 187, 204);
	font-family: 'Ubuntu', sans-serif;
}

#container
{
    border: 1px solid gray;
	max-width: 800px;
	background-color: #fff;
	padding: 50px;
	margin: 40px auto 30px;
	box-shadow: 6px 6px 4px -1px #646464;
    position: relative;
}

h1
{
    min-height: 50px;
    line-height: 50px;
    margin-top: 10px;
    text-align: center;
	background-color: rgb(233, 233, 233);
    box-shadow:6px 6px 4px -1px rgb(177, 177, 177);
    border-top: 1px solid rgb(202, 202, 202);
    border-left: 10px solid rgb(202, 202, 202);
}

h2
{
    margin-top: 10px;
}

#person h2
{
    margin-left: 15px;
}

.section
{
    border: 1px solid rgb(177, 177, 177);
    border-left: 10px solid rgb(177, 177, 177);
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
	/*box-shadow: 6px 6px 4px -1px #979696 ;*/
}

.section:first-child
{
    /*background-color: rgb(255, 255, 255);*/
    margin-top: -15px;
}

.subsec
{
    border-top: 1px solid rgb(202, 202, 202);
    border-left: 10px solid rgb(202, 202, 202);
    margin-top: 20px;
    background-color: #ffffff;
    margin-right: 20px;
    box-shadow: 6px 6px 5px -1px rgb(202, 202, 202);
}

.subsec:last-child
{
    margin-bottom: 10px;
}

.section:last-child
{
    margin-bottom: -10px;
}

.section p
{
    margin: 10px 0;
}

.section:last-child p
{
    margin: 0px;
}

.date
{
    padding-top: 15px;
}

#person img
{
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid gray;
    box-shadow:6px 6px 4px -1px #6b6b6b;
}

.pdata1, .pdata2
{
    margin-bottom: 5px;
}

.pdata1
{
    font-weight: 700;
}

.no-left-padding
{
    padding-left: 0px;
}

ul
{
	padding-left: 15px;
}

.add
{
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(99, 175, 105);
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin: 20px auto 5px;
    text-align: center;
}

.add:hover
{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(27, 104, 34);
}

.edit
{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(139, 152, 211);
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin: 10px auto 15px;
    text-align: center;
}

.edit:hover
{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(27, 35, 104);
}

.del
{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(206, 123, 110);
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin: 10px auto 15px;
    text-align: center;
    margin-right: 10px;
}

.del:hover
{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(212, 54, 30);
}

.logout
{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(99, 99, 99, 0.959);
    border-radius: 2px;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 35px;
    top: 11px;
    z-index: 100;
    text-align: center;
}

.logout:hover
{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgba(46, 46, 46, 0.959);
}

#skills .del, #skills .edit
{
    margin-top: 1px;
    margin-bottom: 6px;
    height: 20px;
    line-height: 20px;
}

#footer
{
    text-align: center;
    font-size: 13px;
    color: rgb(88, 88, 88);
    margin-bottom: 20px;
}

#footer a
{
    text-decoration: none;
}

#footer p
{
    margin-bottom: 0;
}

#footer a:hover
{
    color: rgb(88, 88, 88);
}
 
#panel #title 
{
    position: fixed;
    top: 120px;
    right: -64px;
    z-index: 1;
    width: 170px;
    border: 1px solid #696969;
    border-top: 10px solid #696969;
    background: #d8d8d8;
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px 7px 7px 7px;
    text-align: center;
    transform: rotate(-90deg);
    z-index: 1;
}

form
{ 
    border: 1px solid rgb(143, 143, 143);
    border-left: 10px solid rgb(143, 143, 143);
    padding: 40px;
    margin: 50px auto;
    box-shadow: 6px 6px 4px -1px #838383;
    background-color: white;
    width: 300px;
    font-size: 13px;
    font-weight: 700;
}

form p
{
    min-height: 30px;
    line-height: 30px;
    margin-top: 10px;
	background-color: rgb(233, 233, 233);
    box-shadow:6px 6px 4px -1px rgb(177, 177, 177);
    border-top: 1px solid rgb(202, 202, 202);
    border-left: 10px solid rgb(202, 202, 202);
    text-align: left;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

input[type="text"], input[type="password"], input[type="date"], input[type="file"]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: none;
	border-radius: 2px;
	font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
	outline: none;
    margin-bottom: 15px;
    box-shadow: 6px 6px 4px -1px rgba(204,204,204,0.9);
	font-family: 'Ubuntu', sans-serif;
}

input[type="submit"]
{
	width: 300px;
	background-color: #36b03c;
	font-size: 20px;
	color: white;
	padding: 8px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	letter-spacing: 2p;
	outline: none;
	margin-top: 20px;
}

input[type="text"]:focus, input[type="password"]:focus
{
	
	border: 1px solid #7e7e7e;
	background-color: #d8d8d8;
	color: #414141;
}

input[type="submit"]:focus
{
	box-shadow: 0px 0px 20px 3px rgba(204,204,204,0.9);
}

input::placeholder
{
	color: rgb(75, 75, 75);
}

input:focus::placeholder
{
	color: #777777;
}

input[type="submit"]:hover
{
	background-color: #49b94d;
}

textarea
{
    min-width: 300px;
    max-width: 300px;
    min-height: 80px;
	background-color: #efefef;
	color: #666;
	border: none;
	border-radius: 2px;
	font-size: 16px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
    margin-bottom: 20px;
    box-shadow: 6px 6px 4px -1px rgba(204,204,204,0.9);
	font-family: 'Ubuntu', sans-serif;
}

p.error
{
    border-top: 1px solid rgb(238, 117, 117);
    border-left: 10px solid rgb(238, 117, 117);
    background-color: rgb(250, 225, 225);
    box-shadow:6px 6px 4px -1px rgb(235, 163, 163);
    color: rgb(112, 106, 21);
}

#popcontent .info
{
    display: none;
}

#popcontent .info2
{
    display: block;
    border-top: 1px solid rgb(238, 230, 117);
    border-left: 10px solid rgb(238, 230, 117);
    background-color: rgb(255, 248, 182);
    box-shadow:6px 6px 4px -1px rgb(205, 212, 119);
    color: rgb(125, 128, 3);
}

p.info
{
    border-top: 1px solid rgb(238, 230, 117);
    border-left: 10px solid rgb(238, 230, 117);
    background-color: rgb(255, 248, 182);
    box-shadow:6px 6px 4px -1px rgb(205, 212, 119);
    color: rgb(125, 128, 3);
}

/*okienko popup*/

form#popup
{
    border: 1px solid rgb(97, 97, 97);
    border-left: 10px solid rgb(97, 97, 97);
    background-color:white;
    z-index:99999;
    padding: 35px;
    position: fixed;
    width: 332px;
    top: 50px;
    left: 50%;
    margin-left: -166px;
    display: none;
}

form span
{
    position:absolute;
    top:5px;
    right:8px;
    color:rgb(97, 97, 97);
    font-family: verdana;
    font-size: 20px;
    cursor: pointer;
}

#backgr
{
    position: fixed;
    width: 100%; 
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #222;
    opacity: 0.4;
    z-index: 9999;
    display: none;
}

#popup input[type="text"]
{
	width: 250px;
	background-color: #efefef;
	color: #666;
	border: none;
	border-radius: 2px;
	font-size: 16px;
	padding: 10px;
	outline: none;
    margin-bottom: 15px;
    box-shadow: 6px 6px 4px -1px rgba(204,204,204,0.9);
	font-family: 'Ubuntu', sans-serif;
}

#popup input[type="submit"],#popup input[type="reset"]
{
	width: 250px;
	background-color: #36b03c;
	font-size: 20px;
	color: white;
	padding: 8px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	letter-spacing: 2p;
	outline: none;
	margin-top: 20px;
}

#popup input[type="submit"]:hover, #popup input[type="reset"]:hover
{
	background-color: #49b94d;
}

#popup input[type="text"]:focus, input[type="password"]:focus, textarea:focus
{
	
	border: 1px solid #7e7e7e;
	background-color: #d8d8d8;
	color: #414141;
}

p#popuptitle
{
    margin-bottom: 0px;
    width: 250px;
}